.dnd-target {
  min-width: 400px;
  min-height: 400px;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dnd-target__overlay {
  background-color: #FFF;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: visibility, opacity 0.15s ease;
  outline: 2px dashed #4a4a4a;
  outline-offset: -0.7rem;
  z-index: 1000;
  pointer-events: none;
}

.dnd-target__overlay--can-drop {
  opacity: 0.85 !important;
  visibility: visible !important;
}

.dnd-target__overlay--drag-over {
  background-color: #DDD;
}
