.dnd-target {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dnd-target__overlay-background {
  background-color: white;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: visibility, opacity 0.15s ease;
}

.dnd-target__overlay-background--dragging {
  opacity: 0.85 !important;
  visibility: visible !important;
}

.dnd-target__overlay-message {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1001;
  top: 0.7rem;
  bottom: 0.7rem;
  left: 0.7rem;
  right: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dotted #4a4a4a;
  transition: visibility, opacity 0.15s ease;
}

.dnd-target__overlay-message--dragging {
  opacity: 1 !important;
  visibility: visible !important;
}
