.layout-card {
    width: 150px;
    max-height: 250px;
    min-height: 200px;
    margin: 15px 10px;
    flex: 1 1 12rem;
    position: relative;
}
.layout-card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.layout-card__action_button {
    //display: flex;
    //flex: 1;
    //justify-content: flex-end;
    //width: 40px;
    position: absolute;
    right: 1px;
    top: 1px;
}