html, body {
    background-color: #f1f1f1;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0 !important;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

#root {
    background-color: #f1f1f1;
    overflow: hidden;
    height: 99%;
    width: 99%;
}

.fab {
    margin: 0;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed !important;
}

.fab_2 {
    right: 81px;
}

.fab_3 {
    right: 143px;
}

.fab_4 {
    right: 205px;
}
