.jodit_icon_insertImage {
    background: url("insertPhoto.svg");
    width: 25px;
    height: 25px;
}

.jodit_icon_insertLinkButton {
    background: url("insertLinkButton.svg");
    width: 25px;
    height: 25px;
}

.jodit_icon_insertSnippet {
    background: url("insertSnippet.svg");
    width: 25px;
    height: 25px;
}