.jodit_icon_insertImage {
  background-image: url('insertPhoto.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px !important;
  height: 25px !important;
}

.jodit_icon_highlightedInsertImage {
  background-image: url('insertPhoto.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px !important;
  height: 25px !important;
  background-color: rgba(121, 134, 203, 0.7);
}

.jodit_icon_insertLinkButton {
  background-image: url('insertLinkButton.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px !important;
  height: 25px !important;
}

.jodit_icon_highlightedInsertLinkButton {
  background-image: url('insertLinkButton.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px !important;
  height: 25px !important;
  background-color: rgba(121, 134, 203, 0.7);
}

.jodit_icon_insertSnippet {
  background-image: url('insertSnippet.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px !important;
  height: 25px !important;
}

.jodit_icon_highlightedInsertSnippet {
  background-image: url('insertSnippet.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px !important;
  height: 25px !important;
  background-color: rgba(121, 134, 203, 0.7);
}

.jodit_icon_big {
  width: 100px !important;
  height: 100px !important;
}
