.jodit_icon_insertImage {
    background: url("./addPhotoAlternate.svg");
    width: 25px;
    height: 25px;
}

.jodit_icon_insertLinkButton {
    background: url("./baseline-add_box-24px.svg");
    width: 25px;
    height: 25px;
}