<table style="width: 433px; height: 133px; text-align: center;">
  <tbody>
  <tr>
    <td style="text-align: center;">
      <img width="300px" src="https://infocron.s3.us-east-2.amazonaws.com/user-5/UXfvr66OFICcmeUvi8hFmSJp85yQJeps5UQGFqLT.png
      https://infocron.s3.us-east-2.amazonaws.com/user-5/UXfvr66OFICcmeUvi8hFmSJp85yQJeps5UQGFqLT.png" style="width: 79px; height: 79px;">
    </td>
  </tr>
  <tr>
    <td style="text-align: center;">Example text</td>
  </tr>
  </tbody>
</table>
<p><br></p>