.dialogs-select-image__dialog {
    min-height: 400px;
}

.dialogs-select-image__container {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

