.dialogs-select-image__dialog {
  min-height: 400px;
}

.dialogs-select-image__container {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialogs-select-image__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
  width: 100%;
  padding: 0 30px 0 30px;
}