.node_table_custom_row {
  display: table-row;
  outline: none;
  opacity: 1;
  color: inherit;
  height: 48px;
  vertical-align: middle;
}

.node_table_custom_row__element {
  display: table-cell;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  cursor: pointer;
  padding: 0;
  font-weight: 400;
  text-align: left;
  vertical-align: inherit;
}